.bacgro{

    background-color: rgb(223, 215, 185)
    
}

.cor{

    color: #0d1b97;

}

.job-title{

    color: rgb(23, 38, 173);
    background-color: #898dbe;
}


#high{
 color: rgb(13, 27, 151);
}

ul{
    background-color: #333333;
    color:rgb(223, 215, 185)

}
 

