*{

    margin: 0;
    padding: 0;
    text-align: center; 
    
}
div{
    background-image: url("https://swall.teahub.io/photos/small/30-309544_eye-background-wallpaper-banner-header-red-red-color.jpg");
    height: 1200px;
    width: 720;  
    padding: 100px 20px 100px 20px;
    box-sizing: border-box;
    background-size: cover;

}
h1{
    color: blue;
    padding-bottom: 50px;
}

h2{
    color: blue;
    padding-bottom: 20px;

}

p{
    color: blue;
    padding-bottom: 40px;
}
button{
    background-color: blue;
    padding: 10px;
    border-radius: 12px;
}