*{

    margin: 0;
    padding: 0;
    text-align: center; 
    
}
div{
    height: 1200px;
    width: 720;  
    padding: 100px 20px 100px 20px;
    box-sizing: border-box;
    background-size: cover;
}
h1{
    color: blue;
    padding-bottom: 50px;
}

h2{
    color: blue;
    padding-bottom: 20px;

}

p{
    color: blue;
    padding-bottom: 40px;
}
button{
    background-color: blue;
    padding: 10px;
    border-radius: 12px;
}